<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Głosowanie - błąd, brak loginu</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
<h2>NIE MA WYBORCY O PODANYM LOGINIE.</h2>
<form   th:action="@{/dolicz}" th:object="${wyborca}" method="post">

    <table>
        <tr>
            <td>Podaj login </td>
            <td><input name="login">
                <input type="hidden" name="id" th:field="*{id}">
            </td>
        </tr>
        <tr>
            <td>Podaj hasło</td>
            <td><input type="password" name="haslo"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit">
            </td>
        </tr>
    </table>
</form>
<a href="#" th:href="@{/start2}" class="btn">Przejdź do strony startowej</a>
</body>
</html>