<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Głosowanie - NIE TERAZ!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
<h2>W TEJ CHWILI LOKALE WYBORCZE SĄ ZAMKNIĘTE, NIE MOŻNA ZAGŁOSOWAĆ.</h2>
<a href="#" th:href="@{/start2}" class="btn">Przejdź do strony startowej</a>
</body>
</html>