<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
<body>
<p align="center"> <h2>Kandydaci w wyborach</h2></p> <br>

<table  class="table table-striped">
    <tr><th>Nazwisko</th><th>Imię</th></th><th>Zagłosuj !</th><th>kasuj ?</th></tr>

    <tr  th:each="wpis: ${kandydat}">
        <td th:text="${wpis.nazwisko}">Nazwisko</td>
        <td th:text="${wpis.imie}">Imię</td>
        <td>
            <a href="#" th:href="@{/glosowanie(id=${wpis.id})}" class="btn btn-primary">
                <i class="fa fa-trash-o fa-lg"></i>Głosuj</a>
        </td>
        <td>
            <a href="#" th:href="@{/kasuj(id=${wpis.id})}" class="btn btn-danger">
                <i class="fa fa-trash-o fa-lg"></i>Kasuj</a>
        </td>
    </tr>

</table>

DODAWANIE NOWEGO KANDYDATA
<form action="http://localhost:8080/dodaj">
    <table>
        <tr>
            <td>Podaj imię </td>
            <td><input name="imie"></td>
        </tr>
        <tr>
            <td>Podaj nazwisko</td>
            <td> <input name="nazwisko"> </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"></td>
    </table>
</form>
</body>
</html>