<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
<body>
<p align="center"> <h2>Spis wyborców</h2></p> <br>

<table  class="table table-striped">
    <tr><th>ID</th><th>Nazwisko</th><th>Imię</th></th><th>Login</th><th>Hasło</th><th>Kandyduje</th><th>Głosów1tura</th><th>Głosów2tura</th><th>Wyłonienie</th><th>kasuj ?</th></tr>

    <tr  th:each="wpis: ${wyborca}">
        <td th:text="${wpis.id}">ID</td>
        <td th:text="${wpis.nazwisko}">Nazwisko</td>
        <td th:text="${wpis.imie}">Imię</td>
        <td th:text="${wpis.login}">Login</td>
        <td th:text="${wpis.haslo}">Hasło</td>
        <td th:text="${wpis.kandyduje}">Kandyduje</td>
        <td th:text="${wpis.glosow}">Głosów - 1 tura</td>
        <td th:text="${wpis.glosow2tura}">Głosów - 2 tura</td>
        <td>
            <a href="#" th:href="@{/wylon(id=${wpis.id})}" class="btn btn-primary">
                <i class="fa fa-trash-o fa-lg"></i>Wyłoń</a>
        </td>
        <td>
            <a href="#" th:href="@{/kasuj(id=${wpis.id})}" class="btn btn-danger">
                <i class="fa fa-trash-o fa-lg"></i>Kasuj</a>
        </td>
    </tr>

</table>
DODAWANIE NOWEGO WYBORCY
<form action="http://localhost:8080/dodaj">
    <table>
        <tr>
            <td>Podaj imię </td>
            <td><input name="imie"></td>
        </tr>
        <tr>
            <td>Podaj nazwisko</td>
            <td> <input name="nazwisko"> </td>
        </tr>
        <tr>
            <td>Podaj login</td>
            <td> <input name="login"> </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"></td>
    </table>
</form>
<div>
    <a href="#" th:href="@{/zarzadzWybory}" class="btn">
        <i class="fa fa-trash-o fa-lg"></i>Zarządź wybory</a>
</div>
<div>
    <a href="#" th:href="@{/odwolajWybory}" class="btn">
        <i class="fa fa-trash-o fa-lg"></i>Odwołaj wybory</a>
</div>
<div>
    <a href="#" th:href="@{/logout}" class="btn">
        <i class="fa fa-trash-o fa-lg"></i>Wyloguj</a>
</div>


</body>
</html>